.news-image
{
    height: 225px !important;
    width: 100%;
}

.product-image
{
    height: 55px !important;
    width: 55px !important;
}

.xs-menus .nav-menu > li.active a
{
    color: #e280a2 !important;
}

.pagination li a
{
    padding: 10px 17px !important;
}

.pagination li:last-child
{
    margin: 0 10px 0 0 !important;
}

.pagination li span
{
    width: 42px;
    height: 42px;
    line-height: 42px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #eaeaea;
    color: #222222;
    padding: 0;
    border-radius: 100%;
    text-align: center;
    padding: 10px 17px !important;
    background-color: #e280a2 !important;
    border-color: #e280a2 !important;
    color: #fff !important;

}

.xs-breadcumb .breadcrumb-item.active
{
    margin-right: -25px !important;
}

#color-store {
    color: #dc3545;
    font-weight: 900;
}

@media (min-width: 991px)
{
    #main-logo-ld
    {
        max-width: 10.666667% !important;
    }
    #main-menu-lg
    {
        max-width: 81% !important;
        flex: 0 0 82% !important;
        text-align: center !important;
    }
    .xs-menus .nav-menu > li > a
    {
        font-size: 16px;
    }
    .xs-menus .nav-menu > li:last-child
    {
        margin-right: 5px;
    }






}

.xs-menus .nav-menu > li > a
{
    font-size: 17px;
}

.training-dt-user .desc-user
{
    font-size: 16px;
}

.auction-slider .slick-prev, .auction-slider  .slick-next {
    background: transparent !important;
    border: none;
    padding: 50px 14px;
    position: absolute;
    font-size: 25px;
    top: calc(50% - 75px);
    z-index: 99;
    color: #fb8a79 !important;
    cursor: pointer;
}
.auction-slider .slick-prev {
    left: -40px !important;
}
.auction-slider .slick-next {
    right: -40px !important;
}

.product_image
{
    width: 100% !important;
    height: 200px !important;
}

.product-header
{
    margin-top: 15px;
}

.product-content
{
    padding: 0px 10px !important;
}

.xs-product-wraper.version-2
{
    padding-bottom: 15px !important;
}

.xs-product-wraper.version-2 img
{
    padding: 0 10px !important;
}

.swal-button
{
    background-color: #fb8a78 !important;
}

.xs-top-bar-info.right-content
{
    text-align: right !important;
}




.slider {
    margin: 0 auto;
    max-width: 940px;
}

.slide_viewer {
    height: 270px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}


.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    height: 270px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: 0px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 0px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }

    .directional_nav
    {
        height: 30px !important;
        top: -240px !important;
    }
}

.directional_nav svg
{
    height: 40px;
}

.directional_nav
{
    height: 30px !important;
    top: -240px !important;
}